﻿@page
@model DiplomWeb.Pages.PersonalAreaSotrudnik.PersonalAreaSotrudnikModel
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Личный кабинет</title>
	<link rel="stylesheet" href="~/css/style.css" />
	<link rel="stylesheet" href="~/css/personalarea/style.css" />
</head>
<body>

	<div class="container">
		<div class="container__head">
			<div>
				<h2>Жернов Денис Игоревич</h2>
				<p>
					<strong>Должность:</strong>
				</p>
				<p>
					<strong>Отдел:</strong>
				</p>
				<a asp-page="/Statistics/Statistics">получить статистику</a>
			</div>
		</div>
		<div class="container__main">
			<a asp-page="/Course/Course">Курсы</a>
			<a asp-page="/Testing/Testing">Тесты</a>
			<a asp-page="/Literature/Literature">Библиотека<</a>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>


