﻿@page
@model DiplomWeb.Pages.Testing.TestingModel
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Тесты</title>
	<link rel="stylesheet" href="~/css/style.css" />
	<link rel="stylesheet" href="~/css/testing/style.css" />
</head>
<body>

	<div class="container">
		<div class="container__head">
			<div>
				<h2>Тесты</h2>
				<button>добавить тест</button>
			</div>
		</div>
		<div class="container__main">
			<table>
				<thead>
					<tr><th>№</th><th>Тест</th><th>Курс</th><th>Категория</th><th>Дествие</th></tr>
				</thead>
				<tbody>
					<tr><td>1</td><td>Тест по программированию </td><td>Программирование на C#: Junior</td><td>Программирование</td><td></td></tr>
					<tr><td>1</td><td>Тест по программированию </td><td>Программирование на C#: Junior</td><td>Программирование</td><td></td></tr>
					<tr><td>1</td><td>Тест по программированию </td><td>Программирование на C#: Junior</td><td>Программирование</td><td></td></tr>
					<tr><td>1</td><td>Тест по программированию </td><td>Программирование на C#: Junior</td><td>Программирование</td><td></td></tr>
					<tr><td>1</td><td>Тест по программированию </td><td>Программирование на C#: Junior</td><td>Программирование</td><td></td></tr>
					<tr><td>1</td><td>Тест по программированию </td><td>Программирование на C#: Junior</td><td>Программирование</td><td></td></tr>
					<tr><td>1</td><td>Тест по программированию </td><td>Программирование на C#: Junior</td><td>Программирование</td><td></td></tr>
					<tr><td>1</td><td>Тест по программированию </td><td>Программирование на C#: Junior</td><td>Программирование</td><td></td></tr>
					<tr><td>1</td><td>Тест по программированию </td><td>Программирование на C#: Junior</td><td>Программирование</td><td></td></tr>
				</tbody>
			</table>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
