﻿.container__head {
	margin-bottom: 3%;
}

	.container__head h2 {
		font-size: 30px;
	}

.container__head_block-zhanr {
	margin-top: 3%;
}

.container__head label {
	margin-left: 0.1%;
	margin-right: 5%;
	font-size: 20px;
}

.container__head button {
	border-radius: 5px;
	border: 1px;
	width: 20%;
	padding: 5px;
	font-size: 18px;
	font-family: Comfortaa;
	background: rgba(255, 255, 255, 0);
	color: black;
	letter-spacing: 2px;
	transition: .6s linear;
}

	.container__head button:hover {
		background: black;
		color: white;
		transition: .6s linear;
	}

.container__main {
	backdrop-filter: blur(5px);
	padding: 2%;
}

	.container__main table {
		border-collapse: collapse;
		text-align: center;
		width: 100%;
	}

	.container__main tr {
		border: 0;
		border-bottom: 2px solid black;
	}

	.container__main th {
		padding: 1%;
		font-size: 20px;
	}

	.container__main td {
		padding: 1%;
		font-size: 18px;
	}
