﻿@page
@model DiplomWeb.Pages.Accounts.AccountsModel
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Сотрудники</title>
	<link rel="stylesheet" href="~/css/style.css" />
	<link rel="stylesheet" href="~/css/account/style.css" />
</head>
<body>

	<div class="container">
		<div class="container__head">
			<div>
				<h2>Сотрудники</h2>
				<button>добавить сотрудника</button>
			</div>
		</div>
		
		<div class="container__main">
			<table>
				<thead>
					<tr><th>№</th><th>Фамилия</th><th>Имя</th><th>Отчество</th><th>Должность</th><th>Отдел</th><th>Действие</th></tr>
				</thead>
				<tbody>
					<tr><td>1</td><td>Иванов</td><td>Иван</td><td>Иванович</td><td>Разработчик</td><td>Отдел разработки</td></tr>
					<tr><td>1</td><td>Иванов</td><td>Иван</td><td>Иванович</td><td>Разработчик</td><td>Отдел разработки</td></tr>
					<tr><td>1</td><td>Иванов</td><td>Иван</td><td>Иванович</td><td>Разработчик</td><td>Отдел разработки</td></tr>
					<tr><td>1</td><td>Иванов</td><td>Иван</td><td>Иванович</td><td>Разработчик</td><td>Отдел разработки</td></tr>
					<tr><td>1</td><td>Иванов</td><td>Иван</td><td>Иванович</td><td>Разработчик</td><td>Отдел разработки</td></tr>
					<tr><td>1</td><td>Иванов</td><td>Иван</td><td>Иванович</td><td>Разработчик</td><td>Отдел разработки</td></tr>
					<tr><td>1</td><td>Иванов</td><td>Иван</td><td>Иванович</td><td>Разработчик</td><td>Отдел разработки</td></tr>
					<tr><td>1</td><td>Иванов</td><td>Иван</td><td>Иванович</td><td>Разработчик</td><td>Отдел разработки</td></tr>
				</tbody>
			</table>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
