﻿.container__head {
	margin-bottom: 3%;
}

	.container__head h2 {
		font-size: 30px;
	}


.container__main {
	backdrop-filter: blur(5px);
	padding: 2%;
}

	.container__main table {
		border-collapse: collapse;
		text-align: center;
		width: 100%;
	}

	.container__main tr {
		border: 0;
		border-bottom: 2px solid black;
	}

	.container__main th {
		padding: 1%;
		font-size: 20px;
	}

	.container__main td {
		padding: 1%;
		font-size: 18px;
	}
