﻿@page
@model DiplomWeb.Pages.Course.CourseModel
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Курсы</title>
	<link rel="stylesheet" href="~/css/style.css" />
	<link rel="stylesheet" href="~/css/course/style.css" />
</head>
<body>

	<div class="container">
		<div class="container__head">
			<div>
				<h2>Курсы</h2>
				<button>добавить курс</button>
			</div>
			<div class="container__head_block-zhanr">
				<input type="radio" name="zhanr"><label>программирование</label>
				<input type="radio" name="zhanr"><label>тестирование</label>
				<input type="radio" name="zhanr"><label>дизайн</label>
				<input type="radio" name="zhanr"><label>экономика</label>
				<input type="radio" name="zhanr"><label>психология</label>
			</div>
		</div>
		<div class="container__main">
			<table>
				<thead>

				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>