﻿@font-face {
	font-family: Comfortaa;
	src: url(../fonts/Comfortaa-Medium.ttf);
}

body {
	background-image: url(../../images/body.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Comfortaa;
	margin: 0%;
}

a {
	text-decoration: none;
}

.container{
	width: 80%;
	margin: 5%;
}