﻿.container__head {
	margin-bottom: 3%;
}

	.container__head h2 {
		font-size: 30px;
	}

	.container__head_block-zhanr{
		margin-top: 3%;
	}

	.container__head label{
		margin-left: 0.1%;
		margin-right: 5%;
		font-size: 20px;
	}
	.container__head button {
		border-radius: 5px;
		border: 1px;
		width: 20%;
		padding: 5px;
		font-size: 18px;
		font-family: Comfortaa;
		background: rgba(255, 255, 255, 0);
		color: black;
		letter-spacing: 2px;
		transition: .6s linear;
	}

	.container__head button:hover {
		background: black;
		color: white;
		transition: .6s linear;
	}
	
.container__main{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.container__main a{
	margin: 2%;
}
.container__main img{
	width: 100%;
}

