﻿.container__head {
	margin-bottom: 5%;
}

	.container__head h2 {
		font-size: 30px;
	}

	.container__head p {
		font-size: 18px;
	}

	.container__head a {
		border-radius: 5px;
		border: 1px;
		width: 20%;
		padding: 5px;
		font-size: 18px;
		font-family: Comfortaa;
		background: rgba(255, 255, 255, 0);
		color: black;
		letter-spacing: 2px;
		transition: .6s linear;
	}

		.container__head a:hover {
			background: black;
			color: white;
			transition: .6s linear;
		}

.container__main {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

	.container__main a {
		font-size: 20px;
		margin-left: 5%;
		color: black;
		transition: .6s linear;
	}

		.container__main a:hover {
			color: white;
			transition: .6s linear;
		}
