﻿@page
@model DiplomWeb.Pages.Statistics.StatisticsModel
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Статистика</title>
	<link rel="stylesheet" href="~/css/style.css" />
	<link rel="stylesheet" href="~/css/statistics/style.css" />
</head>
<body>

	<div class="container">
		<div class="container__head">
			<div>
				<h2>Статистика</h2>
			</div>
		</div>

		<div class="container__main">
			<table>
				<thead>
					<tr><th>№</th><th>Курс</th><th>Статус</th><th>Дата прохождения курса</th><th>Тест</th><th>Статус</th><th>Дата прохождения теста</th></tr>
				</thead>
				<tbody>
					<tr><td>1</td><td>Программировнаие на C#: Junior</td><td>Пройден</td><td>19.11.2021</td><td>Тест по программированию</td><td>Пройден</td><td>19.11.2021</td></tr>
					<tr><td>1</td><td>Программировнаие на C#: Junior</td><td>Пройден</td><td>19.11.2021</td><td>Тест по программированию</td><td>Пройден</td><td>19.11.2021</td></tr>
					<tr><td>1</td><td>Программировнаие на C#: Junior</td><td>Пройден</td><td>19.11.2021</td><td>Тест по программированию</td><td>Пройден</td><td>19.11.2021</td></tr>
					<tr><td>1</td><td>Программировнаие на C#: Junior</td><td>Пройден</td><td>19.11.2021</td><td>Тест по программированию</td><td>Пройден</td><td>19.11.2021</td></tr>
					<tr><td>1</td><td>Программировнаие на C#: Junior</td><td>Пройден</td><td>19.11.2021</td><td>Тест по программированию</td><td>Пройден</td><td>19.11.2021</td></tr>
					<tr><td>1</td><td>Программировнаие на C#: Junior</td><td>Пройден</td><td>19.11.2021</td><td>Тест по программированию</td><td>Пройден</td><td>19.11.2021</td></tr>
					<tr><td>1</td><td>Программировнаие на C#: Junior</td><td>Пройден</td><td>19.11.2021</td><td>Тест по программированию</td><td>Пройден</td><td>19.11.2021</td></tr>
					<tr><td>1</td><td>Программировнаие на C#: Junior</td><td>Пройден</td><td>19.11.2021</td><td>Тест по программированию</td><td>Пройден</td><td>19.11.2021</td></tr>
					<tr><td>1</td><td>Программировнаие на C#: Junior</td><td>Пройден</td><td>19.11.2021</td><td>Тест по программированию</td><td>Пройден</td><td>19.11.2021</td></tr>
				</tbody>
			</table>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>