﻿.main {
	margin: 10% 23%;
	max-width: 50%;
	min-width: 50%;
}

.main__login-class {
	text-align: center;
	margin-bottom: 1%;
}

	.main__login-class img {
		margin-bottom: 5%;
		width: 20%;
	}

	.main__login-class input {
		border: 0;
		border-bottom: 2px solid black;
		width: 25%;
		padding: 5px;
		margin-bottom: 2%;
		background: rgba(0,0, 0, 0);
		color: black;
		font-family: Comfortaa;
		font-size: 16px;
		outline: none;
	}

	::-webkit-input-placeholder{
		color: black;
		font-family: Comfortaa;
	}	

	.main__login-class button {
		border-radius: 5px;
		border: 1px;
		width: 26%;
		padding: 5px;
		font-size: 18px;
		font-family: Comfortaa;
		background: rgba(0,0,0, 0);
		color: black;	
		letter-spacing: 2px;
		transition: .6s linear;
	}
	.main__login-class button:hover{
		background: black;		
		color: white;
		transition: .6s linear;
	}

.main a {
	border-radius: 5px;
	border: 1px;
	margin-left: 37%;
	padding: 5px 45px;
	font-size: 18px;
	font-family: Comfortaa;
	background: rgba(0,0,0, 0);
	color: black;
	letter-spacing: 2px;
	transition: .6s linear;
}

	.main a:hover {
		background: black;
		color: white;
		transition: .6s linear;
	}
		