﻿@page
@model DiplomWeb.Pages.Literature.LiteratureModel
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Литература</title>
	<link rel="stylesheet" href="~/css/style.css" />
	<link rel="stylesheet" href="~/css/literature/style.css" />
</head>
<body>

	<div class="container">
		<div class="container__head">
			<div>
				<h2>Литература</h2>
				<button>добавить литературу</button>
			</div>
			<div class="container__head_block-zhanr">
				<input type="radio" name="zhanr"><label>программирование</label>
				<input type="radio" name="zhanr"><label>тестирование</label>
				<input type="radio" name="zhanr"><label>дизайн</label>
				<input type="radio" name="zhanr"><label>экономика</label>
				<input type="radio" name="zhanr"><label>психология</label>
			</div>
		</div>
		<div class="container__main">
			<a download=""><img src="~/images/literature/csharpe9.jpg" title="C# 9 и .NET 5. Разработка и оптимизация" /></a>
			<a download=""><img src="~/images/literature/algoritm.jpg" title="Алгоритмы. Теория и практическое применение" /></a>
			<a download=""><img src="~/images/literature/aspcore.jpg" title="ASP.NET CORE в действии" /></a>
			<a download=""><img src="~/images/literature/js.jpg" title="JavaScript и Node.js для веб-разработчиков" /></a>
			<a download=""><img src="~/images/literature/net.jpg" title="Внедрение зависимостей на платформе .NET" /></a>
			<a download=""><img src="~/images/literature/java.jpg" title="" /></a>
			<a download=""><img src="~/images/literature/js2.jpg" title="" /></a>
			<a download=""><img src="~/images/literature/csharpe.jpg" title="" /></a>
			<a download=""><img src="~/images/literature/csharpe9.jpg" title="C# 9 и .NET 5. Разработка и оптимизация" /></a>
			<a download=""><img src="~/images/literature/algoritm.jpg" title="Алгоритмы. Теория и практическое применение" /></a>
			<a download=""><img src="~/images/literature/aspcore.jpg" title="ASP.NET CORE в действии" /></a>
			<a download=""><img src="~/images/literature/js.jpg" title="JavaScript и Node.js для веб-разработчиков" /></a>
			<a download=""><img src="~/images/literature/net.jpg" title="Внедрение зависимостей на платформе .NET" /></a>
			<a download=""><img src="~/images/literature/java.jpg" title="" /></a>
			<a download=""><img src="~/images/literature/js2.jpg" title="" /></a>
			<a download=""><img src="~/images/literature/csharpe.jpg" title="" /></a>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
