﻿@page
@model DiplomWeb.Pages.PasswordСhange.PasswordСhangeModel
@{
	Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Смена пароля</title>
	<link rel="stylesheet" href="~/css/style.css" />
	<link rel="stylesheet" href="~/css/index/style.css" />
</head>
<body>
	<div class="main">
		<div class="main__login-class">
			<form method="post">
				<input type="text" placeholder="логин" /><br />
				<input type="password" placeholder="новый пароль" /><br />
				<button>сменить пароль</button>
			</form>
		</div>

	</div>


	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
